@using Company.Service

<div class="row-fluid">
    <div id="footer" class="span12">
        &copy; <a asp-controller="Home" asp-action="Index" >@Config.CompanyName</a>, All Right Reserved. Designed By <a href="@Config.DesignerSite">@Config.DesignerName</a> 
    </div>
</div>